* { margin: 5px; }
ul { padding: 0; list-style: none; }
a { text-decoration: none; color: lightslategray; cursor: default; }
a:hover { text-decoration: underline; }

p, .siteList { font-size: 20px; }
.siteList { font-family: Arial, Helvetica, sans-serif; }

.main {
    display: flex;
    align-items: center;
    text-align: center;
    justify-items: center;
    flex-direction: column;
    animation: fadeIn 1.2s linear;
}

@keyframes fadeIn {
    from {
        opacity: 0%;
        margin-top: 20px;
    } to {
        opacity: 100%;
        margin-top: 0px;
    }
}